body{
    background-color: #282828;
    color:white;
}
.container{
    width: 80%;
    max-width: 800px;
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tartalom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container h1{
    text-align: center;
}
img{
    width: 150px;
    margin: auto;
}
.tartalom h3{
    text-align: center;
}
.menu{
    font-weight: bold;
}
.menu ul{   
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.menu a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info{
    border-right: 2px solid red;
}
.info2{
    border-right: 2px solid red;
}
.torol{
    clear: both;
}
.tartalom2{
    margin:auto;
}
.tartalom2 h1{
    border-bottom: 2px solid red;
    text-align: left;
    font-weight: bold;
}
.abra{
    float: right;
    width: 300px;
}
.tartalom2{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.szoftver{
    margin-right: 20px;
}
.kep{
    margin-left: 20px;
}
.tartalom3 h1{
    margin-top: 50px;
    border-bottom: 2px solid red;
    margin: auto;
    text-align: center;
}
.kollegak{
    text-align: center;
}
.emberek img{
    width: 150px;
    height: 200px;
    border-radius: 50%;
}
.emberek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px;
    text-align: center;
}